* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height:100vh;
    background-color:rgba(236, 236, 245, 0.808) ;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
img {
    height: 15vh;
    margin:10px;
}
#translate {
    height:35vh;
    width:90vw;
    justify-self:center ;
    overflow: hidden;
    font-size: large;
    padding:10px 30px;
    border-radius:10px;
}

#translated {
    height:35vh;
    width:90vw;
    justify-self:center ;
    font-size: large;
    padding:10px 30px;
    margin-bottom:20px;
    border-radius:10px;
}

#btn{
    padding: 16px;
    font-size: 16px;
    border:none;
    background-color: white;
    margin: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
}
.dropdown {
    display: flex;
}
.dropbtn {
    background-color: #052c49;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight:bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content p:hover {
      background-color: #ddd;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

  /*.dropdown:hover .dropdown-content:active {display: none;}*/
  
  .dropdown:hover .dropbtn {
      background-color: #052c49;
    }

    #del {
        background-color: #052c49;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        font-weight:bold;
      }
